/* App.css */

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header-content {
  flex: 0 1 auto;
}

.body-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar-body {
  transition: width 0.3s ease-in-out;
}

.main-body {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto; /* Add scrollbar to vertical overflow */
}

/* Custom scrollbar styles */
.main-body::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Track */
.main-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
}

/* Handle */
.main-body::-webkit-scrollbar-thumb {
  background: #888; /* Grey handle */
}

/* Handle on hover */
.main-body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey handle on hover */
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer.collapsed .footer-icon {
  width: 80px;
  overflow-y: auto; /* Ensure scrollbar is enabled even in collapsed state */
}

.footer-icon {
  width: 220px;
}
.copyright {
  margin-right: 10px; /* Adjust margin as needed */
}




