.dashboard-body {
  padding: 10px;
}

.dashboard-body .ant-row {
  margin-bottom: 20px;
}

.dashboard-body .ant-card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-body .ant-card .ant-statistic-title {
  font-size: 16px;
  font-weight: 500;
}

.dashboard-body .ant-card .ant-statistic-content {
  font-size: 24px;
  font-weight: 700;
}

.dashboard-body .ant-card .ant-statistic-content-prefix {
  margin-right: 5px;
}
