/* loginform.css */

/* Container styles */
.form-container {
  max-width: 600px;
  width: 100%;
  padding: 40px;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form wrapper styles */
.form-wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 20px;
  max-width: 600px; /* Adjust max width as needed */
  height: 100%; /* Height set to 100% */
  border-radius: 15px; /* Border radius */
}

/* Form styles */
.login-form {
  width: 100%;
}

/* Input field styles */
.input-field {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}


.form-container{
  max-height: calc(100vh - 100px); /* Adjust the max-height as needed */
  overflow-y: auto;
}
/* Custom scrollbar styles */
.form-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  
}

.form-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.form-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}
