.menu {
  display: flex;
  flex-direction: column;
  height: 94vh;
  background-color: #f7f7fe;
  color: #21263c;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  width: 220px;
}

.collapse-footer {
  text-align: center;
}

.menu.collapsed {
  width: 80px;
  overflow-y: auto; /* Ensure scrollbar is enabled even in collapsed state */
}

.logo {
  text-align: center;
  color: #ffffff;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.logo-icon {
  font-size: 1.5rem;
}

.icon {
  font-size: 1.1rem;
}

.collapse-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  padding: 2.5px 20px;
}

.menu--list .item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #6c757d;
  cursor: pointer;
}

.menu--list .item:hover,
.menu--list .item.active {
  background: #7189f3;
  color: #ffffff !important;
}

.caret-icon {
  margin-left: auto;
}

.submenu {
  background-color: #f7f7fe;
  margin-left: 10px;
  padding-left: 8px;
  border-left: 2px solid #7189f3;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  color: #6c757d;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  font-size: 0.75rem;
}

.submenu-item span {
  flex-grow: 1;
}

.submenu-item .plus-icon {
  background-color: #ffffff;
  color: #7189f3;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: opacity 0.3s;
}

.submenu-item:hover .plus-icon {
  opacity: 1;
}

.submenu-item:hover,
.submenu-item.active {
  background-color: #7189f3;
  color: #ffffff !important;
}

.menu--toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.menu::-webkit-scrollbar {
  width: 5px;
}

.menu::-webkit-scrollbar-track {
  background: #6c757d;
}

.menu::-webkit-scrollbar-thumb {
  background: #6c757d;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

.menu.collapsed .menu--list .item {
  justify-content: center;
  gap: 0;
  font-size: 1rem;
  padding: 10px;
}

.menu.collapsed .menu--list .item .icon {
  margin-right: 0;
}

.menu.collapsed .logo {
  justify-content: center;
}

.menu.collapsed .logo h3 {
  display: none;
}

.menu.collapsed .submenu {
  display: none;
}

.menu.collapsed .submenu-item {
  display: none;
}

