/* vouchertypeform.css */

.VoucherTypeForm-container {
    height: calc(100vh - 100px); /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.VoucherTypeForm-container::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

.VoucherTypeForm-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the track */
}

.VoucherTypeForm-container::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
}

.VoucherTypeForm-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the color of the thumb on hover */
}
