.print-button {
    background-color: #ff8018; /* Blue color for Print button */
    color: #fff;
    border: none;
  }
  
  .export-button {
    background-color: #1ac4ad; /* Green color for Export button */
    color: #fff;
    border: none;
  }
  
  .edit-button {
    background-color: #1890ff; /* Red color for Edit button */
    color: #fff;
    border: none;
  }
  
  /* Ensure button spacing */
  .btn-group .ant-btn {
    margin-right: 8px;
  }
  