/* App.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire app */
.app {
  background-color: #ffffff;
  min-height: 100vh; /* Ensure the app takes up at least the full viewport height */
  margin: 0; /* Set margin to 0 */
  width: 100%;
  box-sizing: border-box;
}


/* Style the dashboard section */
.dashboard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px; /* Add some space between the header and dashboard */
  margin: 0; /* Set margin to 0 */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #21263c;
  color: #fff;
  text-align: center;
  z-index: 1000;
}


